@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu');

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

body {
  background: #282828;
}

.main-container {
  height: calc(100vh - 120px);
  margin-top: 60px;

  .top-container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    background: #177c96;

    // nav-bar here

    .main-view-content {
      display: flex;
      justify-content: center;
      width: 70%;
      min-width: 700px;
      padding-bottom: 60px;
      // background: #141414;
      background: #393939;

      // CONTENT LOADS INSIDE MAIN-CONTENT
      .main-content {
        width: 100%;
        min-width: 700px;
        color: #fff;
        padding: 0 20px;

        h2 {
          margin: 40px 15px 20px 15px;
          padding: 0;
          letter-spacing: 1px;
        }
      }
    }
  }

  // controls-footer here

}
