.nav-header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: #282828;
  border-bottom: 1px solid #46414C;

  .nav-bar {
    // position: absolute;
    // top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #282828;
    width: 70%;
    min-width: 700px;
    // height: 60px;
    // border-bottom: 1px solid #46414C;

    .logo {
      display: flex;
      align-items: center;
      padding: 0 0 0 10px;
      cursor: pointer;

      .fa-headphones {
        color: #fff;
        font-size: 25px;
        margin-right: 15px;
      }

      h3 {
        color: orange;
      }
    }

    .search {

      .search-container {
        display: flex;
        align-items: center;
        width: 100%;
        background: #141414;
        border-radius: 100px;
        padding: 5px 10px;

        .search-input {
          width: 100%;
          background: transparent;
          border: none;
          color: #fff;
          font-weight: 300;
          font-size: 15px;
          letter-spacing: 1px;
          padding: 0 5px;

          &:focus {
            outline: none;
          }
        }

        .fa-search {
          padding: 0 5px;
          font-size: 15px;
          color: #909090;
        }
      }
    }

    .nav-items {
      display: flex;
      padding: 0;

      .nav-item {
        padding: 10px 10px;
        font-size: 15px;
        font-weight: 700;
        display: block;
        letter-spacing: 1px;

        .nav-link {
          text-decoration: none;
          color: #fff;
          cursor: pointer;

          &.user {
            color: #58b5ff;
          }

          &:hover {
            color: orange;
          }
        }
      }
    }
  }
}
